        <section>
        <div class="container gap100">
            <div class="row">
                <div class="col-md-5 text-center">
                    <h6 class="red">CONTACT INFO</h6>
                    <ul>
                        <li><img src="~/images/icon-phone.png" class="size" alt=""> (206) 430-4773</li>
                        <li><img src="~/images/icon-email.png" class="size" alt=""> Imbapainting@gmail.com</li>
                        <li><img src="~/images/icon-pin.png" class="size" alt=""> 13026 23rd Ave S, Seatac, WA 98168</li>
                    </ul>
                </div>
                <div class="col-md-7 text-center">
                    <h6 class="red">AREAS SERVED</h6>
                    <p>IMBA Painting<sup>®</sup> is pleased to provide the best comercial and house paiting to your specific
                    neighborhood in and around Seatac. We service the following areas:</p>
                    <div class="row">
                            <ul class="col">
                                <li>Seattle, WA</li>
                                <li>Bellevue, WA</li>
                            </ul>
                            <ul class="col">
                                <li>Redmond, WA</li>
                                <li>Tacoma, WA</li>
                            </ul>
                            <ul class="col">
                                <li>Renton, WA</li>
                                <li>West Seattle, WA</li>
                            </ul>
                            <ul class="col">
                                <li>Seatac, WA</li>
                                <li>More Areas Served</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>