<link rel="stylesheet" href="~/css/home.css" />
    <div class="container">
        <div class="row p-0 m-0" >
            <div class="col-sm-6 logo">
                <h1 class="h1 text-center">Imba Painting</h1>
            </div>
            <div class="col-sm-6 text-right">
                <p class="p">Visit and like us on:</p>
                <div>
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/IMBA-Painting-106391344059591/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://imba-painting.business.site/" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <h1 class="h1">Call: (206) 430-4773</h1>
            </div>
        </div>
    </div>
    <section id="quote" class="bg-blue">
        <div class="container gap100">
            <div class="row">
                <div class="col-12 align-self-center text-center">
                    <h1 class="moto"><strong>Paint it Nice or Paint it Twice</strong></h1>
                    <div class="buffer col-12"></div>
                    <hr>
                    <button class="btn btn-primary btn-xl">Get a FREE Quote</button>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container gap100 h-100">
            <div class="row text-center">
                <h1 class="col-12 text-center align-self-center" style="color: #00154f; font-weight: 700">What We Do</h1>
            </div>
        <div class="row mt-5">
            <div class="col-md-6 p-2">
                <div class="col-md-12 commercial bg-blue d-flex">
                    <h3 class="text-center align-self-center">COMMERCIAL PAINTING</h3>
                </div>
            </div>
            <div class="col-md-6 p-2">
                <div class="col-md-12 colorconsultation bg-blue d-flex">
                    <h3 class="text-center align-self-center">COLOR CONSULTATION</h3>
                </div>
            </div>
            <div class="col-md-6 p-2">
                <div class="col-md-12 interiorpainting bg-blue d-flex">
                    <h3 class="text-center align-self-center">INTERIOR HOUSE PAINTING</h3>
                </div>
            </div>
            <div class="col-md-6 p-2">
                <div class="col-md-12 exteriorpainting bg-blue d-flex">
                    <h3 class="text-center align-self-center">EXTERIOR HOUSE PAINTING</h3>
                </div>
            </div>
        </div>
    </section>


    <section id="whyus">
                <h2 class="col-12 text-center align-self-center" style="font-weight: 700">What Our Customers Say</h2>
        <div class="container">
            <div class="row mt-5">
                    <div class="col-4">
                        <div class="row">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid col-4" style="width: 115px;"/>
                        <h4 class="col-6 text-center align-self-center" style="font-weight: 700;">Kathy L.</h4>
                        </div>
                        <p class="mt-1">Imba painting was a pleasure to work with and exceeded my expectations!
                            Veso and Bobby were polite, professional and provided wonderful customer service!
                            They helped me choose the paint color for my kitchen,
                            eating area and family room and made great suggestions
                            on an accent color for the ceiling.
                            They did an amazing job painting a large beam/divider in my family room.
                            I have already recommended them and look forward to using them again in the future
                        </p>
                    </div>
                      <div class="col-4">
                        <div class="row">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid col-4" style="width: 115px;"/>
                        <h4 class="col-6 text-center align-self-center" style="font-weight: 700;">Kathy L.</h4>
                        </div>
                        <p class="mt-1">Imba painting was a pleasure to work with and exceeded my expectations!
                            Veso and Bobby were polite, professional and provided wonderful customer service!
                            They helped me choose the paint color for my kitchen,
                            eating area and family room and made great suggestions
                            on an accent color for the ceiling.
                            They did an amazing job painting a large beam/divider in my family room.
                            I have already recommended them and look forward to using them again in the future
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid col-4" style="width: 115px;"/>
                            <h4 class="col-6 text-center align-self-center" style="font-weight: 700;">Kathy L.</h4>
                        <p class="mt-1">Imba painting was a pleasure to work with and exceeded my expectations!
                            Veso and Bobby were polite, professional and provided wonderful customer service!
                            They helped me choose the paint color for my kitchen,
                            eating area and family room and made great suggestions
                            on an accent color for the ceiling.
                            They did an amazing job painting a large beam/divider in my family room.
                            I have already recommended them and look forward to using them again in the future
                        </p>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    


            

                @* <h2 class="col-12 text-center align-self-center" style="color: #00154f; font-weight: 700">Why IMBA Painting<sup>®</sup></h2> *@
@* 
            <div class="row mt-5">
                <div class="col-6 d-flex commercial bg-blue">
                    <h3 class="text-center align-self-center">COMMERCIAL PAINTING</h3>
                </div>
                <div class="col-6">
                    <h3>COLOR CONSULTATION</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6 text-center align-self-center bg-service">
                    <h3>INTERIOR HOUSE PAINTING</h3>
                </div>
                <div class="col-6 text-center align-self-center bg-service">
                    <h3>EXTERIOR HOUSE PAINTING</h3>
                </div>
            </div>
        </div> *@