<link rel="stylesheet" href="~/css/home.css" />
<div class="container">
    <div class="row p-0 m-0" >
      <div class="col-sm-6 logo">
          <h1 class="h1 text-center">Imba Painting</h1>
      </div>
      <div class="col-sm-6 text-right">
        <p class="p">Visit and like us on:</p>
          <div>
              <ul class="social-network social-circle">
                <li><a href="https://www.facebook.com/IMBA-Painting-106391344059591/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://imba-painting.business.site/" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          <h1 class="h1">Call: (206) 430-4773</h1>
      </div>
    </div>
    <div class="row background_img p-0 m-0 column-wrap">
        <div class="col-12 align-self-center text-center">
            <h1 class="moto text-uppercase"><strong>Paint it Nice or Paint it Twice</strong></h1>
            <div class="buffer col-12"></div>
            <hr>
            <button class="btn btn-primary btn-xl">Get a FREE Quote</button>
        </div>
    </div>
    <div class="row"></div>
</div>