
<link rel="stylesheet" href="~/css/home.css" />
    <div class="container">
        <div class="row p-0 m-0">
            <div class="col-sm-6 logo ">
                <h1 class="h1 text-center ml-4 animated flip">Imba Painting</h1>
            </div>
            <div class="col-sm-6 text-right">
                <p class="p">Visit and like us on:</p>
                <div>
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/IMBA-Painting-106391344059591/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://imba-painting.business.site/" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <h1 class="h1">Call: (206) 430-4773</h1>
            </div>
        </div>
    </div>
    <section id="quote" class="bg-blue">
        <div class="container gap100">
            <div class="row">
                <div class="col-12 align-self-center text-center">
                    <h1 class="moto"><strong>Paint it Nice or Paint it Twice</strong></h1>
                    <div class="buffer col-12"></div>
                    <hr>
                    <a href="ContactUs">
                        <button class="btn btn-primary btn-xl">Get a FREE Quote</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container gap100 h-100">
            <div class="row text-center">
                <h1 class="col-12 text-center align-self-center" style="color: #00154f; font-weight: 700">What We Do</h1>
            </div>
            <div class="row mt-5" >
                <div class="col-md-6 p-2">
                    <div class="col-md-12 commercial bg-blue d-flex">
                        <h3 id="shaky" class="text-center align-self-center">
                            <a href="/ContactUs" id="GDP">COMMERCIAL PAINTING</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="col-md-12 colorconsultation bg-blue d-flex">
                        <h3 id="shaky" class="text-center align-self-center">
                            <a href="/ContactUs" id="GDP">COLOR CONSULTATION</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="col-md-12 interiorpainting bg-blue d-flex">
                        <h3 id="shaky" class="text-center align-self-center">
                            <a href="/ContactUs" id="GDP">INTERIOR HOUSE PAINTING</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="col-md-12 exteriorpainting bg-blue d-flex">
                        <h3 id="shaky" class="text-center align-self-center">
                            <a href="/ContactUs" id="GDP">EXTERIOR HOUSE PAINTING</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container gap100">
            <h1 class="col-12 text-center align-self-center" style="color: 00154f; font-weight: 700">What Our Customers Say</h1>
            <div class="row mt-5">
                    <div class="col-md-4 col-sm-6 text-center notViewed animBlock" data-offset="60" data-position="left">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width: 115px;"/>
                        <p class="mt-1 text-center">Imba painting was a pleasure to work with and exceeded my expectations!
                            Veso and Bobby were polite, professional and provided wonderful customer service!
                            They helped me choose the paint color for my kitchen,
                            eating area and family room and made great suggestions
                            on an accent color for the ceiling.
                            They did an amazing job painting a large beam/divider in my family room.
                            I have already recommended them and look forward to using them again in the future
                        </p>
                        <h4 class="text-center align-self-center" style="font-weight: 700;">Kathy L.</h4>
                    </div>
                      <div class="col-md-4 col-sm-6 text-center notViewed animBlock" data-offset="300" data-position="bottom">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width: 115px;"/>
                        <p class="mt-1 text-center">Man were these guys awesome!
                             Not only were they at least 1/2 the cost of the other 3 bids I received,
                             they were also efficient, polite, extremely easy to work with and did a fantastic job.
                             Looking forward to working with them again for our future painting jobs.
                        </p>
                        <h4 class="text-center align-self-center" style="font-weight: 700;">Tim E.</h4>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center notViewed animBlock" data-offset="60" data-position="right">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width: 115px;"/>
                        <p class="mt-1 text-center">Good, honest guys who work hard and want it to be right for the customer.
                            I would not hesitate to hire them again. 
                            They are less experienced than some but 
                            have an excellent work ethic which makes all the difference for me.
                        </p>
                        <h4 class="text-center align-self-center" style="font-weight: 700;">Barbara G.</h4>
                    </div>
            </div>
        </div>
    </section>
    <section id="whyus" class="bg-blue notViewed animBlock" data-offset="300" data-position="bottom">
        <div class="container gap100">
            <h2 class="frontend text-center">Why IMBA Painting<sup>®</sup></h2>
            <div class="row frontend">
                <div class="col-md-3 text-center">
                <img src="~/images/icon-color-consult.png" class="imgsize" alt="">
                <h3>Free Color Consultation</h1>
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/images/icon-licensed.png" class="imgsize" alt="">
                <h3>Insured and Bonded</h1>
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/images/icon-reputation.png" class="imgsize" alt="">
                <h3>Solid Reputation</h1>
                </div>
                <div class="col-md-3 text-center">
                    <img src="~/images/icon-warranty.png" class="imgsize" alt="">
                <h3>We Warranty Our Work</h1>
                </div>
            </div>
        </div>
    </section>