    <link rel="stylesheet" href="~/css/Review.css">
    <div class="container-fluid">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 col-lg-9 col-lg-push-3">
               <section class="text-center gap100">
                   <img class="col-12" src="~/images/truck.png" alt="">
               </section>
               <section class="text-center gap100">
                   <div class="container">
                        <h1>Reviews</h1>
                   </div>
               </section>







            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9 col-lg-3 col-lg-pull-9">
                    <div id="sidebar-wrapper">
                        <ul style="background-color: #00154f;">
                            <li style="font-size: 17px; color: white; padding: 0.5em 0em">Get a Free Estimate</li>
                        </ul>
                        <ul class="borderbottom">
                            <li class="bold">(206) 430-4773</li>    
                            <li class="bold">Imbapainting@gmail.com</li>  
                        </ul>
                        <ul class="borderbottom">
                            <li>13026 23rd ave S</li>
                            <li>Seatac, WA 98168</li>
                        </ul>
                        <ul>
                            <span class="bold" style="font-size: large;">Area Served:</span>
                            <li>Bellevue, WA</li>
                            <li>Kirkland, WA</li>
                            <li>Redmond, WA</li>
                            <li>Renton, WA</li>
                            <li>Seatac, WA</li>
                            <li>More Areas Served</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>