
  
  /* =================================================== */
  /* Social Icons */
  ul.social-network {
      list-style: none;
      display: inline;
      margin-left:0 !important;
      padding: 0;
  }
  ul.social-network li {
      display: inline;
      margin: 0 5px;
  }
  
  
  .social-network a.icoFacebook:hover {
      background-color:#3B5998;
  }
  
  .social-network a.icoGoogle:hover {
      background-color:#BD3518;
  }
  .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
      color:#fff;
  }
  a.socialIcon:hover, .socialHoverClass {
      color:#44BCDD;
  }
  
  .social-circle li a {
      display:inline-block;
      position:relative;
      margin:0 auto 0 auto;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      text-align:center;
      width: 50px;
      height: 50px;
      font-size:20px;
      background-color: #D3D3D3;
  }
  .social-circle li i {
      margin:0;
      line-height:50px;
      text-align: center;
  }
  
  .social-circle li a:hover i, .triggeredHover {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -ms--transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
  }
  .social-circle i {
      color: #fff;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -ms-transition: all 0.8s;
      transition: all 0.8s;
  }
  /*===============================================
  logo */
  .logo {
    background-image: url("../images/logo.png");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .buffer {
    height: 1rem;
  }
  hr {
      border-color: #fd3;
      border-width: 3px;
      max-width: 100px;
      z-index: 1;
      position: relative;
  }
  .btn {
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 300px;
      position: relative;
      z-index: 1;
  }
  .btn-xl {
    padding: 1rem 2rem;
  }
  .btn-primary {
      background-color: orange;
      border-color: orange;
    }
    .btn-primary:hover {
        background-color: #ffdd00;
        border-color: #ffdd00;
        border-width: 4px;
  }
  .gap100 {
      padding: 75px 0px;
    }
    #quote {
        background-image: url("../images/main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
        position: relative;
    }
    .bg-blue::after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: #00154f;
        opacity: 0.5;
    }
    .moto {
        font-size: 3rem;
        color: #f4af1b;
        position: relative;
        z-index: 1;
    }
    .h1 {
        color: #f4af1b;
        font-weight: 800;
    }
    h2 {
        color: #f4af1b;
        font-weight: 700;
    }
    .p {
        color: #f4af1b;
        font-weight: 700;
        font-size: 20px;
    }
    .commercial {
        background-image: url("../images/comercial.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        min-height: 170px;
    }
    .colorconsultation {
        background-image: url("../images/colorconsultation.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 170px;
    }
    .interiorpainting {
        background-image: url("../images/Interiorpainting2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 170px;
    }
    .exteriorpainting {
        background-image: url("../images/exteriorpainting.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 170px;
    }
    #whyus {
        background-image: url("../images/certification.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .frontend {
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .imgsize {
        width: 150px;
        height: 150px;
    }
    
    li {
        list-style-type: none;
        font-size: 20px;
    }
    .red {
        color: #d2232a;
        font-size: 20px;
    }
    .size {
        width: 25px;
        height: 25px;
    }
    #GDP {
        text-decoration: none;
        color: #f4af1b;
    }
    h3 {
        color: #f4af1b;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
      #shaky:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
      }
      