#sidebar-wrapper {
    border-right: 1px solid #cdcdcd;
}
.sidebar {
    padding-bottom: 2rem;
}
li {
    list-style-type: none;
    text-decoration: none;
}
.bold {
    font-weight: bold;
    color:black;
}
.borderbottom {
    border-bottom: 1px solid #cdcdcd;
}
.gap100 {
    padding: 75px 0px;
  }
.colorblue {
    color: #00154f;
    font-weight: 700;
}
.smallp {
    font-weight: 700;
}
.bg-blue::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #00154f;
    opacity: 0.5;
}
input {
    padding-right: 0.35em;
    padding-bottom: 0.45em;
}
select {
    padding: 0.30em;
    padding-right: 7em;
}
.btn-xl {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }
.btn-primary {
    background-color: #ffdd00;
    border-color: #ffdd00;
}
.btn-primary:hover {
    background-color: orange;
    border-color: orange;
    border-width: 4px;
}
.underscore {
    border-bottom: 1px solid #eee;
    padding-bottom: 3rem;
}
.red {
    color: red;
}
.test {
    overflow-wrap: break-word;
}
.fa-star {
    color: #ffc107;
}
.notchecked {
    color: black;
}
/* .sticky {
    position: sticky;
    top: 0;

} */

.size {
    width: 25px;
    height: 25px;
  }
  #GDP {
    text-decoration: none;
    color: #f4af1b;
  }
  .fa {
      font-size: 11px;
  }
  .ratingimg {
      /* margin: 30px; */
      background-image: url("../images/rating.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 34vh;
  }