#sidebar-wrapper {
    border-right: 1px solid #cdcdcd;
    /* padding-bottom: 2rem; */
}
.sidebar {
    padding-bottom: 2rem;
}
li {
    list-style-type: none;
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
.borderbottom {
    border-bottom: 1px solid #cdcdcd;
}
.gap100 {
    padding: 75px 0px;
  }
.colorblue {
    color: #00154f;
    font-weight: 700;
}
.smallp {
    /* font-size: 15px; */
    font-weight: 700;
}
.bg-blue::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #00154f;
    opacity: 0.5;
}
